<%= form_with model:channel do |form| %>
  <div class="field">
    <%= form.label :name,"Channel Name:" ,class: "label-text"  %>
    <%= form.text_field :name, required: true, autofocus: true, maxlength: 20 %>
  </div>
  <div class="field">
    <%= form.text_area :description, palceholder: "Channel Description (Optional)", maxlength: 100 %>
</div>
  <div class="submit">
    <%= form.submit "Create" %>
</div>
<% end %>
