 <%= form_with(model: [chat, message], class: "messages-new-form") do |f| %>
    <div class="wrap"><%= f.text_field :content, class: "message-content", autocomplete: "off", autofocus: true %>
    <%= f.file_field :image, class: "message-picture" %>
    <%= f.label :image, class: "message-input-picture-label" do %>
      <i class="fa-solid fa-images"></i>
    <% end %>
    <%= f.submit "Send"%></div>
    <%= render "shared/errors",resource: message %>
<% end %>


