<div class="field">
  <%= f.label :password, class: "label-text" do %>
    <%= label %>
  <% end %>
  <div class="left-inner-addon">
    <i class="fa-solid fa-lock"></i>
    <%= f.password_field :password, placeholder: "Enter your password" , minlength: 6, required: true %>
  </div>
  <%= render "devise/shared/error_messages" , field: :password %>
</div>

<div class="field">
    <%= f.label :password_confirmation, class: "label-text" %>
    <div class="left-inner-addon">
      <i class="fa-solid fa-lock"></i>
      <%= f.password_field :password_confirmation, placeholder: "Confirm your password", minlength: 6, required: true %>
    </div>
    <%= render "devise/shared/error_messages" , field: :password_confirmation %>
</div>
