<!-- <%= turbo_stream_from current_user, "channels" %> -->
<!-- <%= turbo_stream_from current_user, "inboxes" %> -->
<div class="homepage-box">

  <div class="homepage-left-panel">
    <div class="user-card">
      <h1>Chat</h1>
        <%= image_tag(current_user.avatar.variant(:thumb), alt: "User Avatar") if current_user.avatar.attached? %>
        <h2><%=current_user.name%></h2> 
        <p>Active</p>
    </div>

    <div class="homepage-left-panel-below">
      <div class="channels-box">
        <h2>
          Channels
          <%=link_to image_tag("add_button", class: "btn-create"), new_channel_path, data: {turbo_frame: "central-and-right-panels"} %>
        </h2>
        <%= turbo_frame_tag "channels" do%>
        <div class="channels">
          <%= @channels.any? ? render(partial: "channel", collection: @channels) : "<p class='no-groups'>No Groups</p>".html_safe %>
        </div>
        <% end %>
      </div>
      <%= turbo_frame_tag "empty-search-results" do%>
        <div class="search">
          <h2>
            Search 
          <h2>
          <%= render partial: "users/search_form" %>
        </div>
        <div class="search-results">
        <%= turbo_frame_tag "search-results",class: "search-results-frame"%>
          </div>
  
          
        <%=turbo_frame_tag "inboxes", class: "inboxes" do %>
            <h2>Chats</h2>
            <%= render partial: "inbox", collection: @inboxes %>
        <%end%>
      <% end %>
    </div>
  </div>

    <%= turbo_frame_tag "central-and-right-panels", class: "homepage-central-and-right-panels" do %>
      <div class="no-conversations"> No Conversations </div> 

    <% end %>
</div>